@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewBag.Title = "Register";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@model AutoPoint.ViewModel.UserVM.RegisterVM

<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>@localizer["Register"]</h1>
					<nav class="d-flex align-items-center">
						<a href="/Home/Index">@localizer["Home"]<span class="lnr lnr-arrow-right"></span></a>
						<a href="/User/Register">@localizer["Register"]</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="~/img/register.png" alt="">
						<div class="hover">
							<h4>@localizer["You have an account?"]</h4>
							<a class="primary-btn" href="/User/Login">@localizer["Go to login"]</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>@localizer["Register to enter"]</h3>
						@if(ViewBag.isEmailTaken){
							<div class="alert alert-primary alert-dismissible fade show" style="margin-left:50px; margin-right:50px" role="alert">
                                <i class="fa fa-exclamation-circle me-2"></i>@localizer["The email is being used in another account!"]
                            </div>
						}
						<form class="row login_form" action="/User/Register" method="post" id="contactForm" novalidate="novalidate">

							<input type = "hidden" id="register.isAdmin" value = false />

							<input type = "hidden" id="isFirstNameValid" value = "" />
							<input type = "hidden" id="isLastNameValid" value = "" />
							<input type = "hidden" id="isEmailValid" value = "" />
							<input type = "hidden" id="isPasswordValid" value = "" />

							<div class="col-md-12 form-group input-control">
								<input type="text" autocomplete="off" class="form-control" id="firstName" name="model.firstName" placeholder="@localizer["First name"]" onfocus="this.placeholder = ''" onblur="this.placeholder = '@localizer["First name"]'">
								<div class="error"></div>
							</div>
							<div class="col-md-12 form-group input-control">
								<input type="text" autocomplete="off" class="form-control" id="lastName" name="model.lastName" placeholder="@localizer["Last name"]" onfocus="this.placeholder = ''" onblur="this.placeholder = '@localizer["Last name"]'">
								<div class="error"></div>
							</div>
							<div class="col-md-12 form-group input-control">
								<input type="text" autocomplete="off" class="form-control" id="email" name="model.email" placeholder="@localizer["Email"]" onfocus="this.placeholder = ''" onblur="this.placeholder = '@localizer["Email"]'">
								<div class="error"></div>
							</div>
							<div class="col-md-12 form-group input-control">
								<input type="password" autocomplete="off" class="form-control" id="password" name="model.password" placeholder="@localizer["Password"]" onfocus="this.placeholder = ''" onblur="this.placeholder = '@localizer["Password"]'">
								<div class="error"></div>
							</div>
							<div class="col-md-12 form-group input-control">
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">@localizer["Register"]</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	<script src="~/js/validations/registerValidation.js"></script>